@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #b18565;
  --primary-dark: #000000;
  --primary-light: #ffffff;
  --secondary-dark: #0f1215;
}

*{
  box-sizing: border-box;
}

@layer base{
  html {
    @apply scroll-smooth
  }

  body{
    @apply font-[Poppins]
  }

  li{
    @apply p-4 text-sm
  }

  li:hover{
    @apply text-[var(--primary)]
  }

  button{
    @apply px-4 py-2 border bg-[var(--primary)] text-white
  }
  button:hover{
    @apply px-4 py-2 border bg-[var(--primary-light)] text-[var(--primary)]
  }


  h2 {
    @apply text-xl font-bold
  }

}

#slider-container .test {

  width: 100% !important;

}

.slick-slider .slick-arrow:before {
  color: #333;
  font-size: 2rem;
}

.slick-slider .slick-dots button:before {
  font-size: 1.5rem;
  color: var(--primary);
}

.slick-slider .slick-dots li.slick-active button::before {
  color: var(--primary);
}
.slick-slider .slick-dots {
  bottom: -44px;
}

.slick-slider .slick-dots li {
  margin: 0 0.5rem;
}

